[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
requests = "*"
pytest = "*"
marshmallow = "*"
pytest-mock = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
